body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #182f67;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
.biographyHeader {
    background-color: rgb(218, 116, 27);
    color: #fffffff4;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

p
{
    text-indent: 2em;
    font-size: 1.2rem;
}



.imageposition {
    display: flex;                /* Enable Flexbox */
    justify-content: center;      /* Center horizontally */
    align-items: center;          /* Center vertically */
    width: 100%;                  /* Set width to full width */
}

.imageposition img {
    max-width: 50%;              /* Ensure the image does not overflow the container */
    height: auto;                 /* Maintain aspect ratio */
}

.freeestimate{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    height: 300px;
    background-image: url(9.jpg);
    background-size:cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-attachment: fixed; */
  
}
.video-container{
    display: flex;
    justify-content: center;
    /* align-item: center; */
}



/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.headerColor{
    background-color: #fff;
    color: rgb(218, 116, 27);
    text-align: center;
    padding: 1rem 0;
}
header {
    /* background-color: #8fb7aa; */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

section {
    padding: 2rem 0;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p, section ul {
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
}

footer {
    background-color: #e9ab78;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;

    width: 100%;
    margin: 0 auto;
    height: 300px;
    background-image: url(10.jpg);
    background-size:cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}

footer p {
    font-size: 1rem;
}

a {
    color: #007bff; /* Link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoretable{
    border: 1px solid rgb(240, 12, 27);
    margin-right: 10%;
}

#scoretable table, th, td {
    border:1px solid blue;
    padding: 3px;
    align-items: center;
    text-align: center;
}

#rock, #paper, #scissor{
    background-color:aquamarine;
}

#pc{
    background-color: rgb(245, 238, 148);
}

#expert{
    color: rgb(218, 116, 27);
    text-align: center;
}
